body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}


h1, h2, h3, h4, h5, h6, ul, li, p, a{
	margin: 0;
	padding: 0;
}

h1{
	font-size: 64px;
	font-weight: 400;
	line-height: 75px;
	letter-spacing: -0.03em;
}

h2{
	font-size: 48px;
}

h3{
	font-size: 36px;
}

h4{
	font-size: 24px;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	
}

a{
	color: #000!important;
	font-size: 18px;
	font-weight: bold;
}

a:hover{
	text-decoration: none!important;
	color: #353434!important;
}
/*  Header  */

header{
	background: linear-gradient(113.12deg, rgba(80, 102, 179, 0.2574) 12.94%, rgba(80, 102, 179, 0.507073) 39.53%, rgba(80, 102, 179, 0.99) 75.54%);
	/*height: 700px;*/
	padding-top: 60px;
}

.logo{
	background: url('../img/SAnya.svg') no-repeat center center;
	height: 32px;
	width: 55px;
}

.main-menu{
	justify-content:space-between;
}

.text-header{
	margin-top: 40px;
	width: 485px;
	font-size: 36px;
	font-weight: 400;
}

/*  About	*/

.about{
	padding: 100px 0 50px;
}

.title-about{
	margin-bottom: 80px;
}

.text-about{
	margin-bottom: 20px;
	width: 440px;
}

.text-about:last-of-type{
	margin-bottom: 0;
}

/*  Achivements	*/

.achievements{
	padding: 50px 0;
}

.subtitle-achivement, .subtitle-works{
	margin: 80px 0 50px;
}

.expert{
	height: 250px;
}

.picture img{
	width: 100%;
	transition: transform 0.5s ease;
}

.picture img:hover{
	position: absolute;
	transform: scale(1.5);
	top:-20%;
	
	z-index: 2;
}

.picture1 img:hover{
	/*top:-20%;*/
	left: 30%;
	bottom: 0;
}

.picture3 img:hover{
	position: absolute;
	top:-20%;
	right: 50%;
	height: 100%;
}

.wrap{
	margin-bottom: 30px;
}

.slick-prev:before, .slick-next:before{
	color: #000!important;
}

.slick-list{
	margin-left: 30px!important;
}

.slick-current{
	
}

.wrap img{
	width: 90%;
}

.mb-row{
	margin-bottom: 50px;
}

.img-wordpress{
	width: 360px;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 30px;
}

/*	Footer  */

.footer{
	padding: 50px 0;
	background: linear-gradient(113.12deg, rgba(80, 102, 179, 0.2574) 12.94%, rgba(80, 102, 179, 0.507073) 39.53%, rgba(80, 102, 179, 0.99) 75.54%);
}

.img-btn_footer{
	margin-top: 50px;
	
}
.img-btn_footer:not(:last-child){
	margin-right: 25px;
}

.wrapper-right h4{
	margin: 0;
}

.link__wrapper{
	padding: 50px 0;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px){
	.img-wordpress:last-child{
		display: none;
	}
	.picture-header img{
		width: 400px;
	}
	.title-header{
		font-size: 55px;
	}
}

@media (max-width: 992px){
	.title-header{
		font-size: 45px;
	    line-height: 1.2em;
	    font-weight: 800;
	}

	.picture-header img{
		width: 110%;
	}

	.text-about{
		width: 100%;
	}

	.text-header{
		width: 100%;
		line-height: 1em;
	}

	.me{
		margin-top: 50px;
	}

	h4 {
    	font-size: 17px;
	}

	.picture img:hover{
		transform: none;
		position: static;
	}

}

@media (max-width: 768px){
	.img-wordpress {
		margin-bottom: 20px;
	}

	.title-header{
		font-size: 40px;
	    
	}

	.text-header{
		font-size: 20px;
		margin-top: 25px;
	}

	.expert{
		height: 100%;
	}

	.picture{
		margin-bottom: 30px;
	}

	.wrapper-right{
		margin-top: 30px;
	}

	

@media (max-width: 576px){
	.slick-prev, .slick-next {
			display: none!important;
	}

	h4{
		margin-top: 20px!important;
	}

	.wrapper-right h4{
		margin: 0!important;
	}

	.img-wordpress{
		width: 100%;
		height: 100%;
	}

	.me, .picture-header img{
		width: 100%;
	}

	h3{
		font-size: 30px;
	}
}

@media (max-width: 300px){
	.title-header{
		font-size: 30px;
	}

	h2 {
		font-size: 35px!important;
	}
}